html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
#sidebar-wrapper .list-group-item {
    transition: all 0.3s;
    font-size: 0.95rem;
}

#sidebar-wrapper .list-group-item:hover {
    background-color: #343a40 !important;
    padding-left: 1.5rem !important;
    color: #0d6efd !important;
}

#sidebar-wrapper .list-group-item i {
    width: 20px;
}